# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

# Serverless directories
.serverless
.esbuild
.serverless-offline
.build 

# environments
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
